body, html{
    margin: 0;
    padding: 0;
}
body{
    
    background-image: url(../css/img/simulador5.png);
    background-repeat: no-repeat;
     /* background-size: 750px; */
}


.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 554px 1fr;
}

.container-simulador{
    margin-top: 15%;
    text-align: center;
    height: 400px;
    width: 430px;
    background: rgba(41, 170, 226, 0.6);
}

.title-simulador{
    margin-top: 25%;
}

.img1 img{
    height: 400px;
    margin-left: 25%;
}

.img1{
    grid-column: span 2;
}


/* inicio faixa */

.faixa{
    grid-column: span 3;
}

.container-card{
    height: 200px;
    width: 100%;
    display: flex;
    background: #192a56;
}

.card-icon{
    flex:1;
    text-align: center;
    color: #fff;
    margin: 2%;
}

.card-icon i{
    font-size: 60px;
    color: #fff;
}


/* término faixa */
