.quadro{
    width: 30vw;
    height: 80vh;
    background-color:	#008B8B	;
    margin-top: 10vh;
}
.quadro form{
    color: white;
    position: absolute;
    width: 25vw;
    margin-left: 2.5vw;
}
.space{
    width: 100%;
    padding-top: 100px;
}
.quadro form input{
    width: 100%;

    height: 4vh;
}
.quadro h1{
    text-align: center;
    color: 	white;
    padding-top: 2vh;
}
.content{
    margin: 0;
    align-items: center;
}
.quadro{
    margin: auto;
}
.quadro form input{
    margin-bottom: 2vh;
    border: 2px solid black;
    background: none;
    color: black;
    outline: none;
    border-radius: 2vw;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
}
.quadro form button{
    width: 9vw;
    height: 6vh;
    margin-left: 8.25vw;
    margin-bottom: 6vh;
    color: black;
    border: none;
    margin-top: 2vh;
    border: 2px solid black;
    border-radius: 2vw;
    outline: none;
    font-size: 1.2rem;
    box-shadow: 2px 2px 2px 2px #000;
}
form ::-webkit-input-placeholder{
    color: black;
    text-align: center;
    font-size: 1.2rem;
}
.quadro form button:hover{
    color: #25aae1;
    border-color: #25aae1;
}
.quadro form{
    font-size: 1.5rem;
    color: black;
}
.quadro form input:focus{
    border: 2px solid #25aae1;
    border-radius: 2vw;
}
.quadro form label{
    text-align: center;
    color: white;
}